name: GithubActions Azure Deployment

on:
  push:
    branches:
      - main
    paths:
      - terraform-azure/**
  workflow_dispatch:
    inputs:
      action:
        description: "Terraform action"
        required: true
        default: "apply"
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform:
    name: Terraform ${{ github.event.inputs.action || 'apply' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        root:
          - ./terraform-azure

    env:
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    defaults:
      run:
        working-directory: ${{ matrix.root }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format Check
        if: github.event.inputs.action != 'destroy'
        run: terraform fmt -check

      - name: Terraform Validate
        if: github.event.inputs.action != 'destroy'
        run: terraform validate

      - name: Terraform Plan
        if: github.event.inputs.action == 'apply' || github.event.inputs.action == ''
        run: terraform plan -input=false -var-file="terraform.tfvars" -out=tfplan

      - name: Terraform Apply
        if: github.event.inputs.action == 'apply' || github.event.inputs.action == ''
        run: terraform apply -input=false -auto-approve tfplan

      - name: Terraform Destroy
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -input=false -auto-approve -var-file="terraform.tfvars"
